.formContainer {
  /* background-color: var(--error-bg);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; */
  /* padding: 2rem; */
  /* border-radius: 4rem; */

  width: 100%;
  display: inline-grid;
  grid-template-columns: [first] 47% [line2] 47%;
  /* grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line]; */
  /* justify-items: center; */
  grid-column-gap: 6%;
  /* align-self: flex-start; */
  /* padding:1rem; */
}

.formContainer h3 {
  /* align-self: flex-start; */
  font-size: 22px;
  font-weight: 500;
}

/* .gridContainer {
  display: inline-grid;
  grid-template-columns: [first] 50% [line2] 50%;
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  justify-items: center;
  grid-column-gap: 1rem;
padding:1rem;
} */

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid var(--main-text);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins";
}
