.cardContainer {
  position: relative;
  background: var(--card-bg);
  border-radius: 2rem;
  padding: 2rem 3rem;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.courseName {
  margin: 0.5rem 0;
}

.text {
  margin: 0;
  padding-bottom: 0.5rem;
  color: var(--sub-text);
}

.heading {
  font-weight: 550;
}

.delete {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}
