.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 6rem;
  max-width: 800px;
  gap: 3rem;
}

.container h2 {
  align-self: flex-start;
  margin: 0;
  padding-top: 4rem;
  font-weight: 600;
  font-size: 30px;
  color: var(--secondary);
}

.button {
  width: fit-content;
  padding: 1rem;
  font-family: "Poppins";
  background-color: var(--primary);
  border: none;
  color: var(--bg);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 14px;
}
