.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* padding-top: 1rem; */
  padding-bottom: 6rem;
  max-width: 750px;
  gap: 3rem;
}

.container h2 {
  align-self: flex-start;
  margin: 0;
  padding-top: 3rem;
  font-weight: 600;
  font-size: 30px;
  color: var(--secondary);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: fit-content;
  padding: 0.8rem;
  font-family: "Poppins";
  background-color: var(--primary);
  border: none;
  color: var(--bg);
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  /* box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.05); */
  filter: brightness(115%);
}

.cancel {
  background-color: var(--cancel);
}

.cancel:hover {
  filter: brightness(115%);
}
