.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 6rem;
  max-width: 750px;
  gap: 3rem;
}

.titleText {
  align-self: flex-start;
  padding-top: 3rem;
  color: var(--secondary);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: fit-content;
  padding: 0.8rem 1rem;
  font-family: "Poppins";
  background-color: var(--primary);
  border: none;
  color: var(--bg);
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  filter: brightness(115%);
}

.cancel {
  background-color: var(--cancel);
}

.cancel:hover {
  filter: brightness(115%);
}
